.child_summary{
    display: grid;
    grid-template-columns: repeat(10, .5fr);
    margin: 10px;
}
.project_nav{
    grid-column: 2/4;
}
.project_nav a{
    text-decoration: none;
}
#home_nav{
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: min-content;
    margin-bottom: 35px;
}
#home_nav_text{
    color:rgb(47, 101, 167);
    font-size: 18px;
    grid-column: 2;
    grid-row:1;
    transition:.25s;
    margin-left: -5px;
}

#home_arrow{
    grid-column: 1;
    grid-row:1;
    font-size: 18px;
    color:rgb(47, 101, 167);
    transition:.25s;
}
.nav_list{
    list-style-type: none;
    padding:0px;
    margin-top: 25px;
    width:85%;
}
.nav_list li{
    font-size: 20px;
    font-weight:700;
    line-height: 25px;
    padding-bottom:15px;
    padding-top: 15px;
    border-bottom: .1px solid black;
}
.current_page{
    background-color: #2f65a7;
}
.current_page a{
    color: white;
    display: block;
}
.nav_list li a{
    margin-left: 10px;
    display: block;
    transition: .25s;
}
.nav_list li a:hover{
    text-decoration: underline;
    color: #2f65a7;

}
.current_page a:hover{
    text-decoration: underline;
    color: white !important;
}
#main_summary{
    grid-column: 4/10;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr,5);
    padding-bottom: 75px;
}
#page_title{
    font-size: 50px;
    font-weight: 700;
    grid-column: 1/-1;
    grid-row: 1;
}
#child_img{
    grid-column: 1/-1;
    grid-row: 2/5;
    height: 110%;
}
#child_info{
    z-index: 1;
    grid-column: 6/9;
    grid-row: 3/4;
    padding:50px;
    background-color: white;
    opacity: 90%;
    align-items: center;
    overflow-wrap: normal;
}
#child_info h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}
#child_info p{
    font-size: 20px;
    line-height: 30px;
}
@media only screen and (max-width:1000px){
    .project_nav{
        display: none;
    }
    #main_summary{
        grid-column: 1/-1;
        grid-row: 1/-1;
    }
    #page_title{
        font-size: 36px;
    }
    #child_info{
        grid-column: 4/8;
        grid-row: 5/6;
        padding:25px;
    }
    #child_info h2{
        font-size: 27px;
    }
    #child_info p{
        font-size: 18px;
    }
}
