#main_content{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, min-content);
    row-gap: 25px;
    margin-bottom: 50px;
}
#sec_title{
   grid-row: 1;
   grid-column: 2/5;
   font-size: 30px;
}
#expand_text{
    grid-row: 1;
    grid-column: 7/10;
    font-size: 20px;
    justify-self: end;
    color: rgb(47, 101, 167);
    vertical-align: bottom;
    width: fit-content;
    padding: 10px;
}
#expand_text span{
    vertical-align: middle;
    margin-bottom: 2px;
}
#expand_text:focus-visible{
    color:#00274C;
    outline-color: rgb(66, 153, 225);
    outline-offset: 0px; 
    outline-style: solid;
    outline-width: 2.66667px;
}
#expand_text:hover{
   color:#00274C;
   cursor: pointer;
}
#sec_1{
    grid-row:2;
}
.reading_sec{
    grid-column: 2/10;
    padding:20px;
    background-color: #eaf2f4;
    transition:.25s;
}
.reading_sec:hover{
    cursor: pointer;
}
.reading_sec h3{
    font-size: 25px;
    margin-left: 20px;
    vertical-align: middle;
    line-height: 30px;
}
.reading_sec span {
    vertical-align: middle;
    font-size: 35px;
    float: right;
    color:rgb(47, 101, 167);
}
.reading_list{
    grid-column: 2/9;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 25px;
    list-style-type: none;
    display:none;
}
.clicked{
    display:inline;
}
.reading_list li{
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}
.reading_list li p{
    margin-top: 0px;
}
.reading_list a{
    text-decoration: none;
    color: rgb(47, 101, 167);
    font-size: 20px;
    transition: .25s;
    font-weight: 700;
}
.reading_list a:hover{
    color: #00274C;
    text-decoration: underline;
}
@media only screen and (max-width:1000px){
    .reading_sec h3{
        font-size: 22px;
    }
    .reading_list a{
        font-size: 18px;
    }
    .reading_list li{
        font-size: 18px;
    }
    #sec_title {
        font-size: 24px;
    }
}
@media only screen and (max-width:500px){
    .reading_sec h3{
        font-size: 18px;
    }
    .reading_list a{
        font-size: 16px;
        grid-column: 3/-1;
    }
    .reading_list li{
        font-size: 16px;
    }
    #sec_title {
        font-size: 20px;
        grid-column: 2/-1;
    }
    #expand_text{
        font-size: 18px;
        grid-column: 5/10;
    }
    .reading_list{
        margin-left: 20px;
        padding-left: 0px;
    }
}

