.skip a{
     top: -65px;
     position: absolute;
}
.skip a:focus{
     top: 25px;
     position: absolute;
}
nav ul{
        text-align: left;
        padding-left: 20px;
}
nav ul a{
        font-size: 18px;
}
a:focus{
  outline-color: rgb(66, 153, 225);
  outline-offset: 0px; 
  outline-style: solid;
  outline-width: 2.66667px;
}
li:focus{
   outline-color: rgb(66, 153, 225);
   outline-offset:4.66667px;
   outline-style: solid;
   outline-width: 2.66667px;
}
.bottom_links a:focus{
   outline-color: rgb(66, 153, 225);
   outline-offset:4.66667px;
   outline-style: solid;
   outline-width: 2.66667px;
}

#accessibility_link a,
#communication_link a,
#disclaimer_link a,
#internet_link a,
#patient_link a,
#discrimination_link a,
#department_link a,
#health_link a,
#finance_link a,
#harrassment_link a{ 
    display: inline-block;
    text-decoration: none;
}

#top_nav{
  background-color: #00274C;
  padding: 2px 0; 
  text-align: center;
}
#site_nav li a{
    font-size: 15px;
}
#site_nav li a:hover{
    color:#131516
}
#site_nav li::after{
  content: "/";
  margin: 0 10px;
  color: #989C97;
  font-size: 19px;
}
#site_nav #current::after{
    content: none;
}
#site_nav{
  padding-left: 120px;
  padding-bottom: 10px;
}
#site_nav a{
    color: #2f65a7;
    font-weight: normal;
}
#more_resources{
    font-weight: bold;
    overflow: hidden;
    float: inline-end;
    padding-right: 397px;
}
.med_logo{
    margin:20px;
}
.med_logo:focus{
   outline-color: rgb(66, 153, 225);
   outline-offset:4.66667px;
   outline-style: solid;
}
#title_hero{
    display: grid;
    grid-template-columns: 1fr 1fr .5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content; 
    padding-left: 25px;
    justify-items: end;
    align-items: start;
}
#title_text{
    padding:15px;
    grid-column:1/span 3;
    grid-row: 2/span 1;
    padding-left: 10px;
    z-index: 1;
    background-color: white;
    text-align: left;
}
.page_title{
    color: #2f65a7;
    font-size: 50px;
    padding-bottom: 5px;
}
.page_subtitle{
    padding-top: 10px;
    font-size: 20px;
    color: #131516;
}
.hero_image{
    grid-column:1/-1;
    grid-row: 1/4;
    padding-right: 20px;
    width:85%;
    height: 100%;
}
.title_description{
    color: #131516;
    font-size: 20px; 
    line-height: 33px; 
    margin: 0px;
}
#project_info{
    padding-left:120px;
    padding-top: 60px;
    padding-right:120px;
}
#info_title{
    font-size: 45px;
}
.info_description{
   padding-top: 20px;
   font-size: 20px; 
   line-height: 33px; 
}
#project_inquiries{
   padding-top: 30px;
   font-size: 20px; 
   line-height: 33px; 
   padding-left: 50px; 
   list-style-type: none;
}
#project_inquiries li{
    color: #131516;
    font-size: 20px;
    line-height: 33px;
    padding-bottom: 20px;
}
#project_inquiries li:last-child{
    padding-bottom: 75px;
}

#project_links{
    background-color: #eaf2f4;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .25fr .5fr .5fr .5fr .25fr .5fr .5fr .5fr .25fr .5fr .5fr .5fr .5fr;
    grid-template-rows: min-content min-content .10fr;
    row-gap: 25px;
}
#links_title{
    grid-column: 2/span 10;
    text-align: left;
    font-size: 45px;
    padding-top: 55px;
}
.link_card{
    background-color: white;
    text-align: left;
    color: #00274C;
    padding: 40px; 
    transition: 0.5s;
    position: relative;
}
.link_card:hover{
    background-color: rgb(1, 116, 188);
    color: white;
}
.link_card h3{
    font-size: 20px;
}
.link_card p{
    font-size: 20px; 
    line-height: 25px;
}

#link_1{
    grid-column: 2/span 3;
}
#link_2{
    grid-column: 6/ span 3;
}
#link_3{
    grid-column: 10/ span 3;
}
#link_4{
    grid-column: 14/span 3;
}


.link_card .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 65px;
  padding-bottom: 20px;

}
#forward_arrow{
    background-color: rgb(1, 116, 188);
    color: white; 
    font-size: 30px;
    padding:8px;
    position: absolute;
    bottom:0;
    right:0;
}
footer{
    background-color: #00274C;
    display: grid;
    grid-template-columns: .3fr .5fr .25fr .30fr .3fr .55fr .5fr .5fr;
    grid-template-rows: min-content min-content 1fr .5fr min-content min-content min-content min-content;
    row-gap:30px;
}
#footer_img{
    grid-column: 2/span 2;
    grid-row:0/1;
    align-self: center;
    margin-top: 50px;
}
#footer_desc{
    color: rgba(255,255,255,.65);
    grid-column:2/span 2;
    grid-row: 2/span 1; 
    line-height: 22px;
    margin-top: -5px;
    margin-right: 20px;
    font-family: Roboto, "sans-serif";
}
footer ul{
    list-style-type: none;
    padding-left: 0px;
    text-align: left; 
    padding-bottom: 25px;
}
footer li{
   margin-bottom: 10px;
}
.footer_links{
    position: relative;
}
#footer_links1{
    grid-column: 2/ span 2;
    grid-row:3/ span 1;
}
#footer_links2{
    grid-column: 4/ span 2;
    grid-row:3/ span 1;
}
#footer_links3{
    grid-column: 6/ span 2;
    grid-row:3/ span 1;
}
#footer_links4{
    grid-column: 7/ span2;
    grid-row:3/span 1
}
.footer_link{
    color: #FFCB05;
    font-size: 25px;
    text-decoration-line: none;
    text-decoration-style: solid;
    font-style:Roboto, "sans-serif";
    font-weight: 700;
} 
.footer_list_link{
 color: white;
 text-decoration-style: solid;
 text-decoration-line: none;
 text-decoration-thickness: auto;
 font-size: 16px;
 line-height: 22.14px;

}
footer a:hover{
    text-decoration-line: underline;
}
.social_media{
    position: absolute;
    bottom: 0;
    font-size: 25px;
}
.social_media a{
   color:white; 
   margin-right: 20px;
   font-weight: 0;
}
#donation_link{
    grid-column: 1/ span 5;
    grid-row: 4/span 1;
    border: .5px solid rgba(255,255,255,.65);
    border-width: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#donation_link p{
    color: rgba(255,255,255,.65);
    line-height: 22px;
    grid-column: 2;
    grid-row: 1;
}
#donation_link a{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top:15px;
    margin-left: 80px;
    margin-bottom: 25px;
    gap: 5px;
    text-decoration: none;
}
#donation_link a:hover{
    text-decoration: none;
}
#donation_icon{
    color: rgba(255,255,255,.65);
    font-size: 15px;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 22px;
    margin-right: 5px;
}
#donation_link h3{
    grid-column: 2;
    grid-row: 2;
    margin-top: -15px;
    color: white;
}
#gift_arrow{
    padding-left: 1px;
    vertical-align: middle;
    transition: 0.25s;
}
#gift_text{
    display: inline-block;
}
#gift_text:hover {
    text-decoration: underline;
}
#career_link{
    grid-column: 6/-1;
    grid-row: 4/ span 1;
    border: .5px solid rgba(255,255,255,.65);
    border-width: .5px;
    display: flex;
    align-items: center;
    justify-content: start;
}
#career_link a{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top:15px;
    margin-left: 80px;
    margin-bottom: 45px;
    gap: 5px;
    text-decoration: none;
}
#career_link a:hover{
    text-decoration: none;
}
#career_link p{
    color: rgba(255,255,255,.65);
    line-height: 15px;
    grid-column: 2;
    grid-row: 1;
}
#career_icon{
    color: rgba(255,255,255,.65);
    font-size: 15px;
    grid-column: 1;
    grid-row: 1;
    padding-right: 5px;
}
#career_link h3{
    grid-column: 2;
    grid-row: 2;
    margin-top: -5px;
    color: white;
}
#career_arrow{
    padding-left: 1px;
    vertical-align: middle;
    transition: 0.25s;
}
#career_text:hover{
    text-decoration: underline;
}
#harrassment_link{
    grid-column: 3/7;
    grid-row:5/span 1;
    background-color: white;
    text-align: center;
    transition: 0.5s;
}
#harrassment_link:hover{
    background-color: rgb(1, 116, 188);
}
#harrassment_link a{
    text-decoration: none;
}
#harrassment_text{
    font-family: Roboto, "sans-serif";
    font-size: 20px;
    padding:8px;
    color: rgb(1, 116, 188);
    transition: 0.5s;
}
.bottom_links{
    color:white;
    font-weight: 700;
    font-size: 12.5px;
    margin-left: 20px;
    vertical-align: middle;
}
.bottom_a{
  text-decoration: none;
}
.bottom_links:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px; 
    text-underline-offset: 1px;
}
#accessibility_link{
    grid-row:6;
    grid-column:2/span 2;
    margin-left: 45px;
}
#accessibility_link a{
    text-decoration: none;
}
#accessibility_arrow{
    vertical-align: middle;
    transition: 0.25s;
}
#communication_link{
    grid-row: 6;
    grid-column:3/span 3;
    margin-left: 45px;
}
#communication_link a{
    text-decoration: none;
}
#communication_arrow{
    vertical-align: middle;
    transition: 0.25s;
}
#disclaimer_link{
    grid-row: 6;
    grid-column:5/span 2;
    margin-left: 55px;
}
#disclaimer_link a{
    text-decoration: none;
}
#disclaimer_arrow{
    padding-left: 0px;
    vertical-align: middle;
    transition: 0.25s;
}
#internet_link{
    grid-row: 6;
    grid-column:6/span 2;
    margin-left: 60px;
}
#internet_link a{
    text-decoration: none;
}
#internet_arrow{
    vertical-align: middle;
    transition: 0.25s;
}
#patient_link{
    margin-left: 7px;
    grid-row: 6;
    grid-column:7/span 2;
}
#patient_link a{
    text-decoration: none;
}
#patient_arrow{
    vertical-align: middle;
    transition: 0.25s;
}
#discrimination_link{
    grid-row: 7;
    grid-column:2/span 2;
}
#discrimination_link a{
    text-decoration: none;
}
#discrimination_arrow{
    vertical-align: middle;
    transition: 0.25s;
}
#department_link{
    grid-row: 7;
    grid-column:3/span 3;
}
#department_link a{
    text-decoration: none;
}
#department_arrow{
    vertical-align: middle;
    transition: 0.25s;
}
#health_link{
    margin-left: 20px;
    grid-row: 7;
    grid-column:5/span 3;
}
#health_link a{
    text-decoration: none;
}
#health_arrow{
    vertical-align: middle;
    transition: 0.25s;
}
#finance_link{
    grid-row: 7;
    grid-column:7/-1;
}
#finance_arrow{
    vertical-align: middle;
    transition: 0.25s;
}
#copyright_text{
    grid-row:8;
    grid-column: 1/-1;
    text-align: center;
    color: rgba(255,255,255,.65);
    font-family: Roboto, "sans-serif"; 
    font-size: 13.5px;
    margin-top: -10px;

}
#hidden_content{
    color:rgb(1, 116, 188);
}
#hidden_content:hover{
     color:#00274C;
     cursor: pointer;
}
@media only screen and (max-width:1000px){
    #title_hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content; 
    }
    .hero_image{
        grid-column: 0/-1;
        grid-row:1;
        width: 100%;
        height:100%;
        padding-right: 0px;
    }
    #title_text{
        grid-column: 2/7;
        grid-row:2;
        margin-top:-25px;
    }
    .page_title{
        font-size: 32px;
    }
    .page_subtitle{
       font-size: 16px;
    }
    #site_nav{
        padding-left: 0px;
        text-align: left;
    }
    #project_info{
        padding:15px;
        font-size: 18px;
    }
    #project_inquries{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #project_inquiries li{
        font-size: 18px;
        line-height: 25px;
    }
    #info_title{
        font-size: 36px;
    }
    #project_links{
        grid-template-rows: min-content min-content min-content min-content min-content min-content;
        padding-bottom: 25px;
    }
    #links_title{
        grid-row: 1;
        grid-column: 1/-1;
        margin-left: 15px;
    }
    .link_card{
        padding:25px;
    }
    #link_1{
      grid-row: 2;
      grid-column: 2/17;
    }
    #link_2{
      grid-row:3;
      grid-column: 2/17;
    }
    #link_3{
      grid-row:4;
      grid-column: 2/17;
    }
    #link_4{
      grid-row:5;
      grid-column: 2/17;
    }
    footer{
        grid-template-rows: repeat(17, min-content);
        row-gap:15px;
    }
    #footer_img{
       grid-column: 2/6;
    }
    #footer_desc{
       grid-column: 2/5;
    }
    #footer_links1{
      grid-column: 2/6;
      grid-row:3;
    }
    #footer_links2{
      grid-column: 6/-1;
      grid-row:3;
    }
    #footer_links3{
      grid-column: 2/6;
      grid-row:4;
    }
    #footer_links4{
      grid-column: 6/-1;
      grid-row:4;
    }
    .footer_link{
        font-size: 18px;
    }
    .footer_list_link{
        font-size: 16px;
        line-height: 22px;
    }
    #donation_link{
        grid-row: 5;
        grid-column: 1/-1;
        justify-content: start;
    }
    #donation_link a{
        margin-left: 40px;
    }
    #career_link{
        grid-row: 6;
        grid-column: 1/-1;
        margin-top:-15px;
    }
     #career_link a{
        margin-left: 40px;
     }
    #harrassment_link{
        grid-row: 7;
        grid-column: 2/span 6;
    }
    #harrassment_text{
        font-size: 13.5px;
    }
    #accessibility_link{
        grid-row: 8;
        grid-column: 1/7;
        margin-left:0px;
    }
    #communication_link{
        grid-row: 9;
        grid-column: 1/7;
        margin-left: 0px;
    }
    #disclaimer_link{
        grid-row:10;
        grid-column: 1/7;
        margin-left: 0px;
    }
    #internet_link{
        grid-row:11;
        grid-column: 1/7;
        margin-left: 0px;
    }
    #patient_link{
        grid-row: 12;
        grid-column: 1/7;
        margin-left: 0px;
    }
    #discrimination_link{
        grid-row: 13;
        grid-column: 1/7;
    }
    #department_link{
        grid-row: 14;
        grid-column: 1/7;
    }
    #health_link{
        grid-row: 15;
        grid-column: 1/8;
        margin-left:0px;
    }
    #finance_link{
        grid-row: 16;
        grid-column: 1/7;
    }
    #copyright_text{
        grid-row: 17;
        grid-column: 1/-1;
        text-align: left;
        margin-left: 15px;
    }

    

}
@media only screen and (max-width:500px){
    .med_logo{
        margin:0px;
    }
    #title_hero{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: min-content min-content;
      padding-left: 0px; 
    }
    .hero_image{
      grid-column: 0/-1;
      grid-row: 1;
      height: 100%;
      width: 100%;
    }
    #title_text{
        padding-top:0px;
        grid-column:2/7;
        grid-row: 2;
        margin-top: -25px;
    }
    .title_description{
        font-size: 16px;
        line-height: 22px;
    }
    .info_description{
       font-size:16px;
       line-height: 22px;
    }
    #info_title{
       font-size: 32px;
       line-height: 40px;
    }
    
    #project_inquiries{
        padding-left: 25px;
        line-height: 24px;

    }
    #project_info{
        padding-left: 15px;
        padding-right: 15px;
    }
    #project_inquiries li{
        font-size: 16px;
        line-height: 22px;
    }
    #project_inquiries li:last-child{
    padding-bottom: 25px;
}
    footer{
        grid-template-rows: repeat(19, min-content);
    }
    #footer_img{
       grid-column: 2/7;
    }
     #footer_desc{
       grid-column: 2/7;
    }
     #footer_links1{
      grid-column: 2/7;
      grid-row:3;
    }
    #footer_links2{
      grid-column: 2/7;
      grid-row:4;
    }
    #footer_links3{
      grid-column: 2/7;
      grid-row:5;
    }
    #footer_links4{
      grid-column: 2/7;
      grid-row:6;
    }
    .footer_list_link{
        font-size: 14px;
        line-height: 20px;
    }
     #donation_link{
        grid-row: 7;
     }
     #career_link{
        grid-row: 8;
     }
     #harrassment_link{
        grid-row: 9;
    }
    #accessibility_link{
        grid-row: 10;
    }
    #communication_link{
        grid-row: 11;
    }
    #disclaimer_link{
        grid-row:12;
    }
    #internet_link{
        grid-row:13;
    }
    #patient_link{
        grid-row: 14;
    }
    #discrimination_link{
        grid-row: 15;
    }
    #department_link{
        grid-row: 16;
    }
    #health_link{
        grid-row: 17;
    }
    #finance_link{
        grid-row: 18;
    }
    #copyright_text{
        grid-row: 19;
        font-size: 12px;
        
    }


}


