
#main_content{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, min-content);
    row-gap: 50px;
    margin-bottom: 50px;
}
#content_title{
    font-size: 25px;
    grid-row: 1;
    grid-column: 3/-1;
}
#lapidos_info{
    grid-row: 2;
    grid-column: 3/6;
}
#rulli_info{
    grid-row: 2;
    grid-column: 7/10;
}
#cullen_info{
    grid-row: 3;
    grid-column: 3/6;
}
#nalliah_info{
    grid-row:3;
    grid-column: 7/10;
}
.member_info h2{
   font-size: 23px;
}
.member_info p{
    font-size: 18px;
}
@media only screen and (max-width:1000px){
    #main_content{
        margin-top: -25px;
    }
    #content_title{
        grid-column: 2/-1;
        font-size: 22px;
    }
    #lapidos_info{
        grid-column: 2/6;
    }
    #rulli_info{
        grid-column: 7/11;
    }
    #cullen_info{
        grid-column: 2/6;
    }
    #nalliah_info{
        grid-column: 7/11;
    } 
    .member_info h2{
       font-size: 18px;
    }
   .member_info p{
      font-size: 16px;
    }
}
@media only screen and (max-width: 500px) {
    #main_content{
        grid-template-rows: repeat(5,min-content);
        row-gap: 20px;
    }
    #content_title{
        font-size: 20px;
    }
    #lapidos_info{
        grid-column: 3/10;
    }
    #rulli_info{
        grid-row:3;
        grid-column: 3/10;
    }
    #cullen_info{
        grid-row: 4;
        grid-column: 3/10;
    }
    #nalliah_info{
        grid-row: 5;
        grid-column: 3/10;
    }


}
