#team_info{
    display:grid;
    grid-template-columns: repeat(10, .5fr);
    grid-template-rows: repeat(6, min-content);
    margin:25;
}
#investigator_title{
    grid-column: 4/-1;
    font-size: 36px;
    grid-row:1;
    margin-bottom: 25px;
}
#investigator_section{
   grid-row: 2;
   grid-column: 4/-1;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: min-content min-content;
   margin-top: 25px;
   margin-bottom: 25px;
}
#investigator_img{
    border-radius: 50%;
    height: 93%;
    width:70%;
    grid-column: 1;
    grid-row: 1/span 2;
}
#investigator_info{
    grid-column: 2/-1;
    margin-left: -40px;
}
#investigator_name{
    color: #2f65a7;
    font-size: 20px;
    transition: .25s;
}
#investigator_section a{
    text-decoration: none;
}
#investigator_name:hover{
    color: #00274C;
    text-decoration: underline;
}
#investigator_arrow{
    vertical-align: middle;
    margin-bottom: 5px;
    font-size: 40px;
    margin-left: -5px;
    transition: .25s;
}
#investigator_position{
    font-size: 18px;
    margin-top: -1px;
}
#team_title{
    grid-column: 4/-1;
    grid-row: 3;
    font-size: 36px;
    margin-bottom: 25px;
}
#team_section{
    grid-row:4;
    grid-column: 4/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,min-content);
}
.team_member{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
#co_investigator{
    grid-column: 1;
    grid-row: 1;
}
.member_img{
    border-radius: 50%;
    height: 38%;
    width:100%;
    grid-column: 1;
}
.member_info{
    grid-column: 2;
}
.member_info h3{
    font-size: 20px;
    font-weight: 700;
}
.member_info p{
    font-size: 18px;
    line-height: 27px;
}
#research_prof{
    grid-column: 2;
    grid-row: 1;
}
